In [5]:
# import packages
import pandas as pd
import numpy as np

In [6]:
# read data
data = pd.read_csv("ifood_df.csv")
data.isnull().sum()

Income                  0
Kidhome                 0
Teenhome                0
Recency                 0
MntWines                0
MntFruits               0
MntMeatProducts         0
MntFishProducts         0
MntSweetProducts        0
MntGoldProds            0
NumDealsPurchases       0
NumWebPurchases         0
NumCatalogPurchases     0
NumStorePurchases       0
NumWebVisitsMonth       0
AcceptedCmp3            0
AcceptedCmp4            0
AcceptedCmp5            0
AcceptedCmp1            0
AcceptedCmp2            0
Complain                0
Z_CostContact           0
Z_Revenue               0
Response                0
Age                     0
Customer_Days           0
marital_Divorced        0
marital_Married         0
marital_Single          0
marital_Together        0
marital_Widow           0
education_2n Cycle      0
education_Basic         0
education_Graduation    0
education_Master        0
education_PhD           0
MntTotal                0
MntRegularProds         0
AcceptedCmpOverall      0
dtype: int64

In [8]:
# total spending per customer 
mnt_cols = [col for col in data.columns if col.startswith("Mnt")]
data["TotalSpending"] = data[mnt_cols].sum(axis=1)

In [10]:
# total campaign acceptance 
cmp_cols = [col for col in data.columns if col.startswith("AcceptedCmp")]
data["TotalCampaignAcceptance"] = data[cmp_cols].sum(axis=1)

In [14]:
data.head()

,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,...,education_2n Cycle,education_Basic,education_Graduation,education_Master,education_PhD,MntTotal,MntRegularProds,AcceptedCmpOverall,TotalSpending,TotalCampaignAcceptance
0,58138.0,0,0,58,635,88,546,172,88,88,...,0,0,1,0,0,1529,1441,0,4587,0
1,46344.0,1,1,38,11,1,6,2,1,6,...,0,0,1,0,0,21,15,0,63,0
2,71613.0,0,0,26,426,49,127,111,21,42,...,0,0,1,0,0,734,692,0,2202,0
3,26646.0,1,0,26,11,4,20,10,3,5,...,0,0,1,0,0,48,43,0,144,0
4,58293.0,1,0,94,173,43,118,46,27,15,...,0,0,0,0,1,407,392,0,1221,0

In [18]:
data["Customer_Days"]

0       2822
1       2272
2       2471
3       2298
4       2320
        ...
2200    2540
2201    2178
2202    2314
2203    2315
2204    2781
Name: Customer_Days, Length: 2205, dtype: int64

In [19]:
# add Customer Years var
data["Customer_Years"] = data["Customer_Days"] / 365

In [20]:
data.to_csv('ifood_df_edited.csv', index=False)